<h1>User Site: <%= @site %></h1>
<p>Time Taken : <%=@time %></p>
<h3>Fragments: <%= Movie.all.map(&:fragment_id).uniq %>
</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Release</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.release_date %></td>
    </tr>
  <% end %>
</table>
